li{
    list-style: none;
}
h3::after{
    border-bottom: 1px solid #333333;
}
.left{
    width: 10%;
    height: 10%;
    display: inline-block;

    padding: 5px;
}
.left li{
    color: #428bca;
    padding: 10px;
    border-right: 1px solid #333333;
}
